<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2011-05-22-first-blog.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26575398</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-06-11-about-yesterday.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.265755</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-06-21-character.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.265755</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-06-21-this-is-happiness.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26575798</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-06-29-write-sth.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26575798</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-07-14-USTC.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26575899</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-08-27-hello-GZ.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26575899</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-09-13-am-i.markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-09-21-beijing.markdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576102</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2011-09-27-resently.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576102</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-01-02-goodbye-2011.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576197</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-02-11-none.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576197</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-03-12-be-interesting.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576197</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-03-18-its-care.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576298</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-03-27-reading.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576298</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-04-05-do-it-early.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.265764</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-04-07-not-feeling-well.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.265764</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-04-16-memory.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.265764</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-05-03-in-may.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576501</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-05-12-b-day.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576501</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-05-27-hello-world.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576501</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-08-16-first-day.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576501</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-08-28-being-with-you.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576602</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-10-01-set-in-delft.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576602</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-10-03-badminton-day.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576602</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2012-12-01-december-comes.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576698</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2013-01-05-spain-book.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576698</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2013-02-12-here-2013.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576698</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2013-03-30-suprise-in-life.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576799</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2014-02-03-leaving home.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576799</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2014-11-09-delft-blue-painting.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26576799</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2015-12-16-ulysses.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.265769</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2015-12-22-suprise.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.265769</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2015-12-27-2016.md</key>
			<dict>
				<key>lastModification</key>
				<real>503991184.67242199</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>2016-01-29-2015summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>503984328.43823302</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2016-09-17-self-control - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.265769</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2016-12-1-where-am-i.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26577002</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2016-12-21-2016-summary.md</key>
			<dict>
				<key>lastModification</key>
				<real>504975894.68857998</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2017-01-14-twoweeks.md</key>
			<dict>
				<key>lastModification</key>
				<real>506051322.71915698</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>2017-03-22-think.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26575297</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2017-04-17-april.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26575398</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>2017-04-18-fin-network.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26575297</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>7-13-finance.md</key>
			<dict>
				<key>lastModification</key>
				<real>521794821.26574999</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>20</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>503991197.21758801</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>7-13-finance.md</string>
		</array>
		<array>
			<string>2017-01-14-twoweeks.md</string>
		</array>
		<array>
			<string>2015-12-27-2016.md</string>
		</array>
		<array>
			<string>2016-01-29-2015summary.md</string>
		</array>
		<array>
			<string>2016-12-21-2016-summary.md</string>
		</array>
		<array>
			<string>2017-03-22-think.md</string>
		</array>
		<array>
			<string>2017-04-18-fin-network.md</string>
		</array>
		<array>
			<string>2017-04-17-april.md</string>
		</array>
		<array>
			<string>2011-05-22-first-blog.markdown</string>
		</array>
		<array>
			<string>2011-06-11-about-yesterday.markdown</string>
		</array>
		<array>
			<string>2011-06-21-character.markdown</string>
		</array>
		<array>
			<string>2011-06-21-this-is-happiness.markdown</string>
		</array>
		<array>
			<string>2011-06-29-write-sth.markdown</string>
		</array>
		<array>
			<string>2011-07-14-USTC.markdown</string>
		</array>
		<array>
			<string>2011-08-27-hello-GZ.markdown</string>
		</array>
		<array>
			<string>2011-09-13-am-i.markdown.md</string>
		</array>
		<array>
			<string>2011-09-21-beijing.markdown.md</string>
		</array>
		<array>
			<string>2011-09-27-resently.markdown</string>
		</array>
		<array>
			<string>2012-01-02-goodbye-2011.markdown</string>
		</array>
		<array>
			<string>2012-02-11-none.markdown</string>
		</array>
		<array>
			<string>2012-03-12-be-interesting.markdown</string>
		</array>
		<array>
			<string>2012-03-18-its-care.markdown</string>
		</array>
		<array>
			<string>2012-03-27-reading.markdown</string>
		</array>
		<array>
			<string>2012-04-05-do-it-early.markdown</string>
		</array>
		<array>
			<string>2012-04-07-not-feeling-well.markdown</string>
		</array>
		<array>
			<string>2012-04-16-memory.markdown</string>
		</array>
		<array>
			<string>2012-05-03-in-may.markdown</string>
		</array>
		<array>
			<string>2012-05-12-b-day.markdown</string>
		</array>
		<array>
			<string>2012-05-27-hello-world.markdown</string>
		</array>
		<array>
			<string>2012-08-16-first-day.markdown</string>
		</array>
		<array>
			<string>2012-08-28-being-with-you.markdown</string>
		</array>
		<array>
			<string>2012-10-01-set-in-delft.markdown</string>
		</array>
		<array>
			<string>2012-10-03-badminton-day.markdown</string>
		</array>
		<array>
			<string>2012-12-01-december-comes.markdown</string>
		</array>
		<array>
			<string>2013-01-05-spain-book.markdown</string>
		</array>
		<array>
			<string>2013-02-12-here-2013.markdown</string>
		</array>
		<array>
			<string>2013-03-30-suprise-in-life.markdown</string>
		</array>
		<array>
			<string>2014-02-03-leaving home.markdown</string>
		</array>
		<array>
			<string>2014-11-09-delft-blue-painting.markdown</string>
		</array>
		<array>
			<string>2015-12-16-ulysses.md</string>
		</array>
		<array>
			<string>2015-12-22-suprise.md</string>
		</array>
		<array>
			<string>2016-09-17-self-control - 2.md</string>
		</array>
		<array>
			<string>2016-12-1-where-am-i.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>creationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>20</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
