<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Diary</string>
		<string>Reading</string>
		<string>Technology</string>
	</array>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>Diary</key>
			<dict>
				<key>lastModification</key>
				<real>503984281.873528</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>Reading</key>
			<dict>
				<key>lastModification</key>
				<real>503642324.907812</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Technology</key>
			<dict>
				<key>lastModification</key>
				<real>503556592.138901</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
		<key>createMarkedFile</key>
		<real>480849650</real>
		<key>sheetClusters</key>
		<dict>
			<key>2012-03-22-record-life.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-04-24-get-information.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-05-21-finish-paper.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2012-11-25-category_test.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-03-16-photos.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2014-07-24-eastofeurope.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-03-05-font.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-03-23-kazoku.md</key>
			<dict>
				<key>lastModification</key>
				<real>480849650</real>
				<key>version</key>
				<dict>
					<key>legacy-480849650.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>2016-04-27-rowing.md</key>
			<dict>
				<key>lastModification</key>
				<real>483570960.46572602</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2016-05-15-goodbye.md</key>
			<dict>
				<key>lastModification</key>
				<real>485430747.95833099</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>2016-09-03-convert_to_epub.md</key>
			<dict>
				<key>lastModification</key>
				<real>494601191.80231202</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>50</integer>
				</dict>
			</dict>
			<key>2016-10-02-do-better.md</key>
			<dict>
				<key>lastModification</key>
				<real>497114213.10609198</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>71</integer>
				</dict>
			</dict>
			<key>2016-10-09-howtocommunicate.md</key>
			<dict>
				<key>lastModification</key>
				<real>497680869.30006999</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>2016-10-16-communicate.md</key>
			<dict>
				<key>lastModification</key>
				<real>498286965.41557997</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>2016-10-22-relationship.md</key>
			<dict>
				<key>lastModification</key>
				<real>499509360.28520399</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>89</integer>
				</dict>
			</dict>
			<key>2016-11-27-influence.md</key>
			<dict>
				<key>lastModification</key>
				<real>501913099.78797799</real>
				<key>version</key>
				<dict>
					<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
					<integer>100</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>522901962.46213698</real>
		<key>userIconName</key>
		<real>480849650</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-11-27-influence.md</string>
		</array>
		<array>
			<string>2016-10-22-relationship.md</string>
		</array>
		<array>
			<string>2016-10-16-communicate.md</string>
		</array>
		<array>
			<string>2016-10-09-howtocommunicate.md</string>
		</array>
		<array>
			<string>2016-10-02-do-better.md</string>
		</array>
		<array>
			<string>2016-09-03-convert_to_epub.md</string>
		</array>
		<array>
			<string>2016-05-15-goodbye.md</string>
		</array>
		<array>
			<string>2016-04-27-rowing.md</string>
		</array>
		<array>
			<string>2016-03-23-kazoku.md</string>
		</array>
		<array>
			<string>2016-03-05-font.md</string>
		</array>
		<array>
			<string>2012-03-22-record-life.markdown</string>
		</array>
		<array>
			<string>2012-04-24-get-information.markdown</string>
		</array>
		<array>
			<string>2012-05-21-finish-paper.markdown</string>
		</array>
		<array>
			<string>2012-11-25-category_test.markdown</string>
		</array>
		<array>
			<string>2014-03-16-photos.markdown</string>
		</array>
		<array>
			<string>2014-07-24-eastofeurope.markdown</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Sheets</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>18</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>200</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>4</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>ad7a521d1787e10fe551008a3c488c2a7fd0fd943bbc510aed82209a34ad4618</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
